### IntelliJ IDEA ##########################
.idea/
*.iws
*.iml
*.ipr

### Node.js ################################
/.nyc_output
/coverage
/node_modules
/dist
/lib
/tmp
/yarn.lock
*-error.log
*-debug.log
*.tgz

### Dotenv environment variables ###########
.env
.env.*

### Custom #################################
.bak/
.generated/
.local/
.tmp/
*@tmp
